<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignatura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-container">
    <div class="info-box" *ngFor="let asig of asignatura">
      <h2>{{asig.leccion}}</h2>
      <p>Profesor: {{asig.docente}}</p>
      <p>Hora: {{asig.hora}}</p>
      <p>Dia: {{asig.fecha}}</p>
      <p>Sección: {{asig.seccion}}</p>
      <p>Sala: {{asig.sala}}</p>
    </div>
  </div>
</ion-content>
