@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ion-content {
  
  animation: slideIn 2s ease ; 
  
  
}
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }

  .info-box {
    background-color: #3302f7fc; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 600px #3302f7fc; 
    text-align: center;
    max-width: 80%; 
  }
  
 