<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <div class="main-container">
    <div class="rounded-container">
      <div class="register-box">
        <form (submit)="register()" #registerForm>
          <h2>Registrarse</h2>

          <div class="input-box">
            <ion-icon name="mail-outline" class="icon"></ion-icon>
            <ion-input type="email" placeholder="Correo Electrónico" [(ngModel)]="email" name="email"></ion-input>
          </div>
          <div class="input-box">
            <ion-icon name="lock-closed-outline" class="icon"></ion-icon>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password"></ion-input>
          </div>

          <!-- Remove the ion-list and ion-select for region -->
          <!-- Remove the ion-list and ion-select for comuna -->

          <ion-button expand="full" type="submit">Registrarse</ion-button>
          <div class="login-link">
            <p>¿Ya tienes una cuenta? <a href="#">Iniciar Sesión</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
